@charset "utf-8";
/* CSS Document */

/* variables */

:root {
    --white: #FFF;
    --white-trp: rgba(255, 255, 255, 0.8);
    --black: #333;
    --red: #DC143C;
    --yellow: #FFD22A;
    --blue: royalblue;
    --grey-2: #222;
    --grey-6: #666;
    --grey-a: #AAA;
    --grey-b: #BBB;
    --grey-d: #DDD;
    --grey-e: #EEE;
    --page-width: 1024px;
    --button-height: 44px;
}


/* Reset */

html { 
	height: 100%; 
}

ul, li, h1, h2, h3 {
	margin: 0; 
	padding: 0; 
}

ul {
	list-style-type: none;
}

ol {
    padding-left: 1em;
}

ol li {
    padding-left: 0.5em;
}

p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}


/* Common */

body {
	height: 100%; 
	margin: 0; 
	padding: 0; 
	color: var(--black); 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1250rem;
	font-weight: 400;
    background-color: #eee;
}

h1 {
	font-weight: 300;
}

h1 {
    font-size: 1.75em;
	margin-bottom: 1em;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 0.75em;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-1 {
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.pt-1 {
    padding-top: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none;
}

.page {
    width: var(--page-width);
    margin: 0 auto;
    background-color: var(--white);
}

.content {
    padding: 1em;
}

.row-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.image {
    width: 100%;
    height: auto;
}

.separator {
	height:	1px; 
	background-color: var(--grey-b);
	clear: both;
}

.list-item {
    margin-bottom: 0.5em;
}

.list-item .list-item-text {
    padding-left: 1em;
    display: inline-block;
}

ul li.list-item::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    position: absolute;
}

ul li.list-item.red-bullet::before {
    color: var(--red);
}

ul li.list-item.white-bullet::before {
    color: var(--white);
}

/* Grid */

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
}

.col {
    padding-right: 1em;
    box-sizing: border-box;
    position: relative;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-75 {
    width: 75%;
}

.col-100 {
    width: 100%;
}


/* Buttons */

.button {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    padding: 12px 20px;
    text-align: center;
    transition: background-color .3s;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

.button-primary {
    color: var(--white);
    background-color: var(--red);
}

.button-primary:hover {
    opacity: 0.8;
}

.button-secondary-grey {
    color: var(--black);
    background-color: var(--grey-d);
}

.button-secondary-white {
    color: var(--black);
    background-color: var(--white);
}

.button-secondary-white-outline {
    border: 1px solid var(--grey-a);
}

.button-secondary-grey:hover,
.button-secondary-white:hover {
    background-color: var(--grey-e);
}

.button-icon {
    width: 0.7em;
    height: 0.7em;
    vertical-align: baseline;
    fill: currentColor;
    margin-left: 0.5em;
}

.social-button {
    padding: 0.5em;
    color: inherit;
    background: var(--white);
    width: 1.5em;
    height: 1.5em;
    display: block;
    border-radius: 0.25em;
}

.social-button .social-icon {
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
}


/* Links */

.link {
    text-decoration: none;
}

.link:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.link-headline {
    color: inherit;
}

.link-primary {
    color: var(--red);
}

.link-secondary-grey {
    color: var(--grey-a);
}

.link-secondary-blue {
    color: var(--blue);
}


/* Site logo */

.header .site-logo {
    width: 300px;
    height: 25.5px;
}

.header .site-byline {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}


/* Navigation */

.nav .nav-items {
    display: flex;
    min-height: var(--button-height);
}

.nav .nav-items .nav-item {
    position: relative;
    margin-right: 1px;
}

/* Main navigation */

.main-nav .main-nav-items .nav-item.active:after {
    content: '';
    width: 100%;
    border-bottom: solid 2px var(--red);
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-nav .main-nav-items .nav-item .main-nav-link {
    display: block;
}

.main-nav .main-nav-items .nav-item.active .main-nav-link {
    background-color: var(--grey-e);
}


/* Sub navigation */

.sub-nav-content {
    background-color: var(--yellow);
}


/* Carousel */

.carousel {
	width: 100%; 
	overflow: hidden; 
	position: relative; 
	margin: 0 auto;
	border-top: 1px solid var(--grey-6);
}

.carousel .carousel-item {
	position: absolute; 
}

.carousel-item-content {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: var(--white-trp);
}


/* Carousel navigation */

.carousel-nav-items {
    display: flex;
    justify-content: center;
}

.carousel-nav-items .carousel-nav-item {
	margin: 0 0.5em;
	cursor: pointer;
	width: 1em;
	height: 1em;
	background-color: var(--grey-d);
}

.carousel-nav-items .carousel-nav-item:hover {
	background-color: var(--grey-a);
}

.carousel-nav-items .carousel-nav-item.active {
	background-color: var(--black);
}


/* Card */

.card {
    display: block;
}

.card .card-headline {
    margin-bottom: 0;
}

	
/* Gallery */

.gallery-current-issue .gallery-content .gallery-issue {
    background-color: var(--yellow);
}

.gallery-past-issues .gallery-content {
    color: var(--white);
	background-color: var(--black);
    position: relative;
}

.gallery-past-issues .gallery-content .contents-items .list-item {
    color: var(--grey-a);
}

.gallery-content .gallery-nav-items {
	height: 70px;
	border-top: 1px solid var(--black);
	border-right: 1px solid var(--grey-2);
	border-bottom: 1px solid var(--grey-2);
	display: table;
}

.gallery-content .gallery-nav-items .gallery-nav-item {
	border-left: 1px solid var(--grey-2);
	width: 127px;
	display: table-cell;
    background-image: linear-gradient(0deg, var(--grey-2) 0%, #777 100%);
    vertical-align: middle;
}

.gallery-content .gallery-nav-items .gallery-nav-item .gallery-nav-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: inherit;
    padding: 23px 0;
}

.gallery-content .gallery-nav-items .gallery-nav-item.active {
	background: var(--black);
}

.gallery-content .redline {
    position: absolute;
    height: 2px;
    margin: -2px 0 0 0;
    background-color: var(--red);
}

.gallery-content .gallery-issue .gallery-issue-text {
    margin-bottom: calc(var(--button-height) + 1em);
}

.gallery-content .gallery-issue .gallery-issue-button {
    position: absolute;
    bottom: 0;
}

.gallery-content .contents-headline {
    margin-bottom: 0;
    font-weight: 400;
}

.gallery-content .contents-items {
    padding-bottom: 0.5em;
}

.gallery-content .separator {
    background-color: var(--grey-6);
	margin: 0 1em 0;
}


/* Footer */

.footer {
    background-color: #ddd;
	margin: 0 auto;
    font-size: 16px;
}

.footer .footer-top .social-button {
    position: absolute;
    right: 1em;
    bottom: 0;
}

.footer .footer-bottom {
    padding-top: 1em;
    color: var(--white);
    background-color: var(--black);
}


/* Media queries */

@media (max-width: 1024px) {
    /* Common */
    
    .page {
        width: 100%;
    }
}

@media (max-width: 768px) {
    /* Common */
    
    .text-left-md {
        text-align: left;
    }
    
    /* Grid */
    
    .col-md-25 {
        width: 25%;
    }
    
    .col-md-50 {
        width: 50%;
    }
    
    .col-md-75 {
        width: 75%;
    }

    .col-md-100 {
        width: 100%;
    }
    
    /* Main navigation */
    
    .main-nav .main-nav-items {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    /* Grid */
    
    .col-sm-100 {
        width: 100%;
    }
}
